* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

body {
  background-image: url("images/portfolio-background.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: aqua;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  height: 5rem;
  max-width: auto;
  margin: 1rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* drop-down menu */
.drop-down {
  display: none;
  position: absolute;
  right: 2rem;
  top: 3rem;
  height: 0;
  width: 10rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.drop-down.open {
  height: 10rem;
}

.drop-down li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive design */
@media(max-width: 1000px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    padding-left: 90%;
    display: block;
  }

  .drop-down {
    display: block;
  }
}
