* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

body {
  background-image: url("images/portfolio-background.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: aqua;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  height: 5rem;
  max-width: auto;
  margin: 1rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

@media(max-width: 1000px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
