* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;  
  text-shadow: 0.5px 0.5px 1px rgb(201, 201, 206);
  color: rgb(255, 255, 255);
}

body {
  background-image: url("images/portfolio-background.jpg");
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 4rem 4rem 4rem; 
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: aqua;
}

header {
  position: relative;
  padding: 0 0.5rem;
}

.navbar {
  height: 3rem;
  max-width: auto;
  margin: 1rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  display: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
}

/* drop-down menu */
.drop-down {
  display: none;
  position: absolute;
  right: 2rem;
  top: 3rem;
  height: 0;
  width: 10rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.drop-down.open {
  height: 10rem;
}

.drop-down li {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive design */
@media(max-width: 1000px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    padding-left: 93%;
    display: block;
    justify-content: center;
  }

  .drop-down {
    display: block;
  }
}
